*{
    padding: 0px;
    margin: 0px;
}

.head{
    text-align: center;
    font-size: 40px;
    background-color: blue;
    text-decoration: rgb(19, 4, 4);
    color: white;
}

img{
    height: 180px;
    padding-bottom: 10px;
}
.main{  /* correspond to main body */
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 20px;
}

h2{
    font-size: 24px;
    /* margin-bottom: 20px; */
}
.sub{  /* correspond to achievement  */
    padding: 50px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
ul{
    /* padding: 5px; */
    padding-left: 40px;
}
.foot{
    text-align: center;
    font-size: 20px;
    color: white;
    background-color: blue;
}